# Python / Docker
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.env
venv/
.envrc
*.log

# Docker volumes / data
pgdata/
minio_data/
qdrant_data/
ollama_data/

# IDE / Editor
.vscode/
.idea/
*.swp

# System / Cache
.DS_Store

