# === Core Framework ===
fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart>=0.0.9


# === Database & ORM ===
psycopg[binary]==3.2.1
SQLAlchemy==2.0.31
alembic==1.13.2

# === AI / Embeddings / RAG ===
sentence-transformers==3.0.1
qdrant-client==1.9.1

# === File & Text Extraction ===
requests==2.32.3
aiohttp==3.9.5
tika==2.6.0

# === Environment & Config ===
python-dotenv==1.0.1
pydantic==2.8.2

# === Utilities & Dev Tools ===
loguru==0.7.2
httpx==0.27.0
pytest==8.3.3
pytest-asyncio==0.24.0

rich

